<!--<!doctype html>-->
<!--<title>{% block title %}{% endblock %} </title>-->
<!--&lt;!&ndash;<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">&ndash;&gt;-->
<!--&lt;!&ndash;<nav>&ndash;&gt;-->
<!--&lt;!&ndash;  <h1>Flaskr</h1>&ndash;&gt;-->

<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--<section class="content">-->
<!--  <header>-->
<!--    {% block header %}{% endblock %}-->
<!--  </header>-->
<!--  {% for message in get_flashed_messages() %}-->
<!--    <div class="flash">{{ message }}</div>-->
<!--  {% endfor %}-->
<!--  {% block content %}{% endblock %}-->
<!--</section>-->